@model Ticket
<!-- start banner Area -->
<section class="relative about-banner">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Tickets MANAGEMENT
				</h1>
				<p class="text-white link-nav"><a asp-area="" asp-controller="Home" asp-action="Index">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a asp-area="" asp-controller="Tickets" asp-action="GetCreateView"> Tickets Management</a></p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->
<section class="contact-page-area section-gap">
	<div class="container">
		<div class="row">
		</div>
		<div class="col-lg-8" style="margin-left:22%;">
			<form class="form-area contact-form text-right" method="post" asp-controller="Tickets" asp-action="AddNew" enctype="multipart/form-data">
				<div class="row">
					<div class="col-lg-6 form-group">
						<input placeholder="Enter your Ticket Name" onblur="this.placeholder = 'Enter your Ticket Name'" class="common-input mb-20 form-control" required="" type="text" asp-for="Name">
						<span asp-validation-for="Name" class="text-danger"></span>
						<input placeholder="Enter Rating" onblur="this.placeholder = 'Enter Rating'" class="common-input mb-20 form-control" required="" type="number" asp-for="Rating">
						<span asp-validation-for="Rating" class="text-danger"></span>
						<input placeholder="Enter Price" onblur="this.placeholder = 'Enter Price'" class="common-input mb-20 form-control" required="" type="number" asp-for="Price">
						<span asp-validation-for="Price" class="text-danger"></span>

						<input placeholder="Enter ReleaseDate time" onblur="this.placeholder = 'Enter ReleaseDate time'" class="common-input mb-20 form-control" required="" type="datetime-local" asp-for="ReleaseDate">
						<span asp-validation-for="ReleaseDate" class="text-danger"></span>

						
						<select asp-for="FlightId" asp-items="@(new SelectList(ViewBag.AllFlights,"Id","Name"))" class="form-control">
							<option selected disabled>Select Flight...</option>
						</select>
						<span asp-validation-for="FlightId" class="text-danger"></span>





						<div class="checkbox-text" style="margin-right:69%;">


							<div>
								<label asp-for="ImagePath"></label>
								<input type="file" name="imageFormFile" id="imageFormFile" accept=".png,.jpg" class="form-control" onchange="SetImgSrc()" />
							</div>




						</div>

					</div>

					<div class="col-lg-6 form-group">
						<textarea class="common-textarea form-control" placeholder="Enter Your Description" onblur="this.placeholder = 'Enter Messege'" required="" asp-for="Description"></textarea>
						<span asp-validation-for="Description" class="text-danger"></span>

						</br>


					</div>
					<div class="col-lg-12">
						<div class="alert-msg" style="text-align: left;"></div>
						<button class="genric-btn primary" style="float: right;" type="submit">ADD</button>
					</div>


				</div>
			</form>
			<img src="" id="ticImage" class="col-4 card" style="object-fit:contain" />
		</div>
	</div>

</section>
@section Scripts{
	<script>
		function SetImgSrc() {

			document.getElementById("ticImage").src = window.URL.createObjectURL(document.getElementById("imageFormFile").files[0]);
		}
	</script>
}