<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		.container {
			margin-bottom: 20px;
		}
	</style>
	<title>Your Page Title</title>
</head>
<!-- start banner Area -->

<section class="banner-area relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row fullscreen align-items-center justify-content-between">
			<div class="col-lg-6 col-md-6 banner-left">

				<h1 class="text-white"> Travelotion</h1>

			</div>

		</div>
	</div>
</section>
<!-- End banner Area -->
<!-- Start popular-destination Area -->
<section class="popular-destination-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Welcome to travelotion</h1>
					<p>We provide you with ticket reservation services and offers about the most important places where you will find enjoyment and comfort </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="~/img/d1.jpg" alt="">
					</div>
					<div class="desc">
						<a asp-area="" asp-controller="Booking" asp-action="GetCreateView" class="price-btn">$150</a>
						<h4>Mountain River</h4>
						<p>Paraguay</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="~/img/d2.jpg" alt="">
					</div>
					<div class="desc">
						<a asp-area="" asp-controller="Booking" asp-action="GetCreateView" class="price-btn">$250</a>
						<h4>Dream City</h4>
						<p>Paris</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="~/img/d3.jpg" alt="">
					</div>
					<div class="desc">
						<a asp-area="" asp-controller="Booking" asp-action="GetCreateView" class="price-btn">$350</a>
						<h4>Cloud Mountain</h4>
						<p>Sri Lanka</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End popular-destination Area -->
<!-- End price Area -->
<!--new making to book flight-->
	<section class="recent-blog-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-9">
				<div class="title text-center">
					<h1 class="mb-10">Other Places</h1>
					<p>we provide to you if you have childern or newly married.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="active-recent-blog-carusel">
				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" src="~/img/1673473069-disney.jpg" alt="">
					</div>
					<div class="details">
						<div class="tags">
							<ul>
								<li>
									<a href="/Booking/GetIndexView">Book</a>
								</li>
								
							</ul>
						</div>
						<a href="#"><h4 class="title">childern zone</h4></a>
						<p>
							This nice place will delight your children or you.
						</p>
						<h6 class="date">3st January,2024</h6>
					</div>
				</div>
				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" src="~/img/maldives-six-senses-laamu4.jpg" alt="">
					</div>
					<div class="details">
						<div class="tags">
							<ul>
								<li>
									<a href="/Booking/GetIndexView">Book</a>
								</li>
								
							</ul>
						</div>
						<a href="#"><h4 class="title">Maldives</h4></a>
						<p>
							all people visite this place found their comfartable zone.
						</p>
						<h6 class="date">1st January,2024</h6>
					</div>
				</div>
				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" src="~/img/pyrmadis.jpg" alt="">
					</div>
					<div class="details">
						<div class="tags">
							<ul>
								<li>
									<a href="/Booking/GetIndexView">Book</a>
								</li>
								
							</ul>
						</div>
						<a href="#"><h4 class="title">magnificence</h4></a>
						<p>
							this place in Egyt you will show A history of thousands of years. 
						</p>
						<h6 class="date">11st January,2024</h6>
					</div>
				</div>
				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" src="~/img/london.jpg" alt="">
					</div>
					<div class="details">
						<div class="tags">
							<ul>
								<li>
									<a href="/Booking/GetIndexView">Book</a>
								</li>
								
							</ul>
						</div>
						<a href="#"><h4 class="title">Londo</h4></a>
						<p>
							this place where you show modern 
						</p>
						<h6 class="date">23st January,2024</h6>
					</div>
				</div>
				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" src="~/img/turkia.jpg" alt="">
					</div>
					<div class="details">
						<div class="tags">
							<ul>
								<li>
									<a href="/Booking/GetIndexView">Book</a>
								</li>
								
							</ul>
						</div>
						<a href="#"><h4 class="title">Turkia</h4></a>
						<p>
							turkia is most popular place everyone hope to visit it
						</p>
						<h6 class="date">31st January,2024</h6>
					</div>
				</div>
				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" src="~/img/bali.jpg" alt="">
					</div>
					<div class="details">
						<div class="tags">
							<ul>
								<li>
									<a href="/Booking/GetIndexView">Book</a>
								</li>
								
							</ul>
						</div>
						<a href="#"><h4 class="title">Bali</h4></a>
						<p>
							you found your comfortable zone in bali
						</p>
						<h6 class="date">7st January,2024</h6>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<!-- Start home-about Area -->
<section class="home-about-area">
	<div class="container-fluid">
		<div class="row align-items-center justify-content-end">
			<div class="col-lg-6 col-md-12 home-about-left">
				<h1>
					NOW <br>
					You Want Book A travel <br>
					Click on the Next button
				</h1>
				<p>
					You found Your travel you want to book it Go on
				</p>
				<a href="/Booking/GetIndexView" class="primary-btn text-uppercase">Book Now</a>


			</div>
			<div class="col-lg-6 col-md-12 home-about-right no-padding">
				<img class="img-fluid" src="~/img/about-img.jpg" alt="">
			</div>
		</div>
	</div>
</section>
<!-- End home-about Area -->

<section class="other-issue-area section-gap">
	<div class="container"> 
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-9">
				<div class="title text-center">
					<h1 class="mb-10">OUR SERVICES </h1>
					<p>we provide you many services.</p><br>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="~/img/Customer-Service.jpg" alt="">
					</div>
					<a href="#">
						<h4>cancellation</h4>
					</a>
					<p>
						if you want cancel any book you made
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="~/img/update.jpg" alt="">
					</div>
					<a href="#">
						<h4>Updating</h4>
					</a>
					<p>
						if you want update ticket you book it
					</p>
				</div>
			</div>
			
			</div>
			
		</div>
	</div>
</section>